
.bg1{
	background-color: #007AFF;
}
.bg2{
	background-color: #c00;
}
.bg3{
	background-color: #F0AD4E;
}
.bg4{
	background-color: #222;
}
.bg5{
	background-color: #0C978D;
}
.bg7{
	background-color: #3F536E;
}
.bg8{
	background-color: #9000FF;
}
.bg9{
	background-color: #CCE6FF;
}
.bg10{
	background-color: #A5673F;
}
.bg11{
	background-color: #D2F1F0;
}
.bg12{
	background-color: #EBD4EF;
}
.bg13{
	background-color: #999999;
}
.bg14{
	background-color: #DD514C;
}
.bg15{
	background-color: #F37B1D;
}


